/* ------ General Rules ------
------------------------------*/
:root{
  --color-primary: #0061ff;
  --color-primary-hover: #8bbbe2;
  --color-primary-light: #b4d0e7;
  --color-dark: black;
  --color-border: #d0d0d0;
}

h1{
  font-size: 4.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px dashed red;
}

.container{
  max-width: 920px;
  width: 100%;
  min-height: 100px;
  margin: auto;
  border: 1px dashed black;
}

.container-large{
  max-width: 1100px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

main, footer{
  border: 1px dashed rgb(64, 255, 47);
}

header{
  width: 100%;
}

footer{
  background-color: #23272b;
  padding-top: 2rem;
}

nav{
  background-color: white;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row{
  display: flex;
}

.row-gap-2{
  gap: 2rem;
}

.col{
  flex-grow: 1;
  border: 1px solid green;
  /* L'allargamento minimo sarà 0 */
  flex-basis: 0;
  position: relative;
}

.col-full-width{
  flex-basis: 100%;
}

.bg-grey{
  background-color: #d3d3d3;
}

/* ------ Nav ----------------------------
------------------------------------------*/

.nav-dropbox, .nav-account{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links, .nav-logo{
  padding: .5rem;
}

.nav-links img{
  width: 100px;
}

.nav-logo{
  min-width: 150px;
}

.nav-links{
  display: flex;
  align-items: center;
}

.nav-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links ul a{
  display: inline-block;
  padding: 0 1.1rem;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

/* ------ Hero Section / Welcome Section------
------------------------------------------*/

#hero{
  background-color: var(--color-primary-light);
  padding-bottom: 0;
}

#hero p{
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
  padding-top: 2.3rem;
  padding-bottom: 1.3rem;
}

#hero .col:nth-child(1){
  flex-basis: 30%;
  padding: 0rem 1rem 0;
}

#hero .col:nth-child(2){
  flex-basis: 70%;
  display: flex;
  align-items: flex-end;
}

#hero .jumbo-img{
  width: 100%;
  /* Aggiungo 40 px per tenere lo spazio 
  minimo sopra come richiesto */
  /* height: calc(100% + 40px); */
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: translateY(40px);
}

.section-title{
  margin-bottom: 2rem;
}

.fa-arrow-down{
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
}

/* ------ Main Sections ------
------------------------------*/

.col-blue{
  width: 60%;
  border: 1px dashed black;
  min-height: 300px;
  background-color: #128bff;
}

.col-pink{
  width: 40%;
  border: 1px dashed black;
  min-height: 300px;
  background-color: #ffc6c9;
}

.box-green{
  border: 1px dashed black;
  min-height: 500px;
  background-color: #1b7a20;
}

.container-cards{
  background-color: #aaa;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card{
  border: 1px solid var(--color-border);
  /* Anche min-height può andare bene */
  height: 100%;
}

.card-header{
  padding: .7rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

.card-body{
  padding: 1rem;
}

/* ------ Buttons -----------
------------------------------*/

.btn{
  border: none;
  background-color: white;
  padding: .5rem;
}

.btn-primary{
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover{
  background-color: var(--color-primary-hover);
}

.btn-small{
  border: none;
  padding: .4rem .7rem;
  font-size: .8rem;
}
.btn-dark{
  border: none;
  background-color: #23272a;
  color: white;
  padding: .7rem 1rem;
}
.btn-violet{
  border: none;
  background-color: #7289da;
  color: white;
  padding: .7rem 1rem;
}

/* ------ Footer ------
-------------------------*/

footer .col{
  flex-grow: 1;
  background-color: #23272a;
  min-height: 300px;
}

footer .col-large{
  width: 15%;
  background-color: #23272a;
  border-color: white;
}

footer hr{
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  color: #7289da;
}

.lower-footer{
  background-color: #23272a;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img{
  width: 100px;
  height: fit-content;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ita{
  width: 20px;
}

.col ul{
  list-style: none;
}

.col ul a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

.col h4{
  color: rgb(114, 137, 218);
}
.col-large h3{
  color: rgb(114, 137, 218);
  padding-bottom: 12px;
}
.col-large span{
  color: white;
  font-size: 0.8rem;
  padding-bottom: 12px;
}