:root{
  --color-primary:
  --color-primary-light:
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px dashed red;
}

.container{
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  border: 1px dashed black;
}

.container-large{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 1px dashed black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: rgb(173, 216, 230);
  padding-top: 1rem;
  padding-bottom: 4px;
  width: 100%;
  min-height: 70px;
  background-color: #255ee9;
}

footer{
  background-color: #23272b;
  padding-top: 2rem;
}

nav{
  background-color: rgb(173, 216, 230);
  width: 100%;
  min-height: 70px;
}

header nav .container{
  display: flex;
}

.bg-grey{
  background-color: #d3d3d3;
}

.welcome-section {
  background-image: url("../img/jumbo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-welcome{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.welcome-section{
  background-color: #00008b;
  padding: 2rem 0;
}

.welcome-section .container{
  max-width: 680px;
  min-height: 300px;
}

.container-nav{
  max-width: 900px;
  min-height: 70px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links, .nav-logo, .nav-login{
  padding: .5rem;
}

.nav-logo img{
  width: 100px;
  height: fit-content;
}

.nav-logo{
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-login{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-links{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links ul a{
  display: inline-block;
  padding: 0 1.1rem;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.nav-login{
  text-align: right;
}

.col-blue{
  width: 60%;
  border: 1px dashed black;
  min-height: 300px;
  background-color: #128bff;
}

.col-pink{
  width: 40%;
  border: 1px dashed black;
  min-height: 300px;
  background-color: #ffc6c9;
}

.box-green{
  border: 1px dashed black;
  min-height: 500px;
  background-color: #1b7a20;
}

.container-cards{
  background-color: #aaa;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card{
  border-radius: 1rem;
  border: 1px solid black;
  padding: 2rem;
  flex-basis: 33%;
}

.buttons{
  padding-top: 10px;
  text-align: center;
}

/* Buttons */
.btn{
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: .7rem 1rem;
}
.btn-small{
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: .4rem .7rem;
  font-size: .8rem;
}
.btn-dark{
  border-radius: 15px;
  border: none;
  background-color: #23272a;
  color: white;
  padding: .7rem 1rem;
}
.btn-violet{
  border-radius: 15px;
  border: none;
  background-color: #7289da;
  color: white;
  padding: .7rem 1rem;
}

.row{
  display: flex;
}

footer .col{
  flex-grow: 1;
  background-color: #23272a;
  min-height: 300px;
}

footer .col-large{
  width: 15%;
  background-color: #23272a;
  border-color: white;
}

footer hr{
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  color: #7289da;
}

.lower-footer{
  background-color: #23272a;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img{
  width: 100px;
  height: fit-content;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ita{
  width: 20px;
}

.col ul{
  list-style: none;
}

.col ul a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

.col h4{
  color: rgb(114, 137, 218);
}
.col-large h3{
  color: rgb(114, 137, 218);
  padding-bottom: 12px;
}
.col-large span{
  color: white;
  font-size: 0.8rem;
  padding-bottom: 12px;
}